.input-width-50 {
  width: 50px;
}

.input-width-200 {
  width: 200px;
}
.input-width-300 {
  width: 300px;
}
.input-width-400 {
  width: 400px;
}
.input-width-500 {
  width: 500px;
}
.input-width-600 {
  width: 600px;
}
.input-width-700 {
  width: 700px;
}